body {
	font-family: sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

main {
	display: block;
	height: 100%;
	margin: auto;
	padding: 1em;
	width: 960px;
	clear: both;
}

.hidden {
	display: none;
}

.error, .success {
	color: white;
}

.error {
	background: lightsalmon;
}

.success {
	background: lightseagreen;
}