body {
	font-family: sans-serif;
	line-height: 1.5em;
	margin: 0;
	padding: 0;
}

main {
	background-color: #efefef;
	height: 100%;
	/* margin: auto; */
	padding: 1em;
	width: 400px;
	text-align: center;
}

.container {
	width: 200px;
	height: 150px;
	margin: auto;
}

.container img {
	width: 100%;
	height: auto;
}

.feature.description {
	font-style: italic;
}

.hidden {
	display: none;
}